@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';

@layer components {
	.prose-f {
		@apply
		break-all
		max-w-none
		prose
		prose-code:break-all
		prose-code:whitespace-pre-wrap
		prose-img:border
		prose-img:rounded-lg
		prose-sm
		prose-table:table-fixed
		prose-td:border
		prose-td:border-gray-300
		prose-td:p-2
		prose-td:relative
		prose-th:bg-gray-100
		prose-th:border
		prose-th:border-gray-300
		prose-th:p-2
		prose-th:relative
	}
}

.vs__dropdown-toggle {
	border: none !important;
}

.vs__selected-options {
	padding: 0px !important;
}

.vs__selected {
	margin: 1px 0px 0px 0px !important;
	padding: 0px !important;
}

.vs__search {
	margin: 1px 0px 0px 0px !important;
	padding: 0px 7px 0px 0px !important;
}

.vs__actions {
	padding: 0px !important;
}